

/******* Common Element CSS Start ******/
:root { scroll-behavior: initial; }
* 						{ margin: 0px; padding: 0px; outline: none;}
body 					{ background: transparent; font-size: 18px; line-height: 24px; font-weight: 400; font-family: $theme-font; color: $font-color; letter-spacing: 0.008px; -webkit-text-size-adjust: none; font-display: swap; }
ul,ol 					{ padding: 0; list-style: none; }
a 						{ color: inherit; text-decoration: none; outline: none; cursor: pointer; @include transition($common-transition); }
a:focus, a:active, a:visited, a:HOVER	{ text-decoration: none; outline: none; }
a:HOVER					{ color: $font-color; }
h1        				{ margin: 0 0 20px; font-size: 24px; line-height: 32px; font-weight: 600; }
h2        				{ margin: 0 0 16px; font-size: 24px; line-height: 32px; font-weight: 700; }
h3        				{ margin: 0 0 16px; font-size: 22px; line-height: 30px; font-weight: 500; }
h4        				{ margin: 0 0 16px; font-size: 20px; line-height: 28px; font-weight: 500; }
h5        				{ margin: 0 0 16px; font-size: 18px; line-height: 26px; font-weight: 700; }
h6        				{ margin: 0 0 16px; font-size: 16px; line-height: 26px; font-weight: 500; }
.big-text    		    { font-size: 20px; line-height: 28px; }
small,
.small-text  		    { font-size: 16px; line-height: 20px; }
.xsmall-text  		    { font-size: 14px; line-height: 18px; }
.font-normal            { font-weight: 400; }
.font-semi              { font-weight: 500; }
.font-bold,
b                       { font-weight: 700; }
img                     { max-width: 100%; height: auto; border: 0px; }
.btn-link,
.btn-check:focus+.btn,
.form-check-input,
button, .btn, button[type="button"] { text-decoration: none; @include transition($common-transition);
    &:focus { outline: none; @include box-shadow(none); }
}
.btn-link { padding: 0; color: inherit; font-size: inherit; line-height: inherit; font-weight: inherit; }
.offcanvas-backdrop     { background: $theme-font;
    .show { opacity: .39; }
}

.theme-text     { color: $theme-color;}
.muted-text     { color: $font-light; }

/* Button CSS */
.theme-btn { padding: 12px 24px; min-width: 240px; background-color: $theme-color; color: $light-color; border-radius: 8px; border:none; font-size: 18px; font-weight: 700; 
    &:hover,
    &:focus { background: $font-color; color: $light-color; }
    &.small-btn { padding: 8px 24px; font-size: 16px; min-width: initial; }
    &.light-btn { background-color: $theme-medium; color: $theme-color; 
        &:hover,
        &:focus { background: $theme-color; color: $light-color; }
    }
}

/* Dropdown CSS */
.dropdown-toggle { padding: 7px 24px; background: $theme-color !important; color: $light-color !important; border-radius: 8px; font-weight: 700; }
.dropdown-menu { padding: 10px; width: 100%; background: $theme-medium; font-size: 14px; line-height: 18px; font-weight: 600; border: none; @include box-shadow(0 12px 24px rgba(0,0,0,0.16)); border-radius: 12px; overflow: hidden;
    button { width: 100%; background: transparent; border: none; display: flex; display: -webkit-flex; @include justify-content(space-between);
        &:hover,
        &:focus { color: inherit; }
    }
    .dropdown-item { padding: 8px; font-weight: inherit; color: $font-color; border-bottom: 1px solid rgba($font-color, 0.15);
        &.active-item,
        &:hover { background: transparent; color: $theme-color; }
        &:last-child { border: none;}
     }
}

/* Common Box CSS */
.common-section { padding: 30px 0; }
.common-box { margin-bottom: 24px; padding: 16px; background: var(--light-mode-bg); border-radius: 16px;
    > :last-child { margin-bottom: 0; }
}
form {
    .country-select-container { position: absolute; top: 26px; }
    .country-select__control { border: none !important; min-height: 0; box-shadow: none !important; }
    .country-select__value-container { padding: 0;}
    .country-select__indicator-separator { display: none; }
    .country-select__indicator { padding: 6px 2px; }
}

/***** Responsive CSS Start ******/

@media (min-width: 1200px) and (max-width: 1399px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
    body 					{ font-size: 17px; line-height: 22px; }
}

@media (min-width: 768px) and (max-width: 991px) {
    body 					{ font-size: 16px; line-height: 21px; }
    
}

@media (max-width: 767px) {
    body 					{ font-size: 15px; line-height: 20px; }
    h1        				{ margin: 0 0 20px; font-size: 20px; line-height: 28px; }
    h2        				{ margin: 0 0 12px; font-size: 20px; line-height: 28px; }
    h3        				{ margin: 0 0 12px; font-size: 19px; line-height: 27px; }
    h4        				{ margin: 0 0 12px; font-size: 18px; line-height: 26px; }
    h5        				{ margin: 0 0 12px; font-size: 16px; line-height: 24px; }
    h6        				{ margin: 0 0 12px; font-size: 14px; line-height: 22px; }
    small,
    .small-text  		    { font-size: 14px; line-height: 18px; }
/* Button CSS */
    .theme-btn { padding: 10px 20px; 
        &.small-btn { padding: 7px 16px; font-size: 15px; } 
    }
}
