
.sidebar { width: 280px; max-width: 80%; background: $theme-light; height: 100vh; 
    .menu {
        a { display: block; padding: 12px 16px; border-bottom: 1px solid $theme-medium; font-weight: 500; 
            &:hover,
            &:focus { color: $theme-color; }
            &.active { background: $theme-color; color: $light-color; }
        }
    }
    .owner-logo { margin-bottom: 24px; padding: 16px 24px; background: $theme-medium; 
        img { width: 160px; }
    }
}
.content-owner { width: calc(100% - 280px); height: 100vh; overflow: auto; }
.owner-header { margin-bottom: 32px; padding: 20px 24px; background: $theme-light; position: sticky; top: 0; z-index: 5;
    .userpic { margin-left: 8px; width: 32px; height: 32px; border-radius: 50%; object-fit: cover; }
    .dropdown-toggle { padding: 8px 20px;
        &::after { display: none; }
    }
    .username { width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    .owner-logo { width: 160px; }
}
.menu-icon { width: 36px; }
.main-content { padding: 0px 16px; }

@media (max-width: 1199px) {
    .sidebar { position: fixed; left: 0; @include transform(translateX(-100%)); z-index: 10; @include transition($common-transition);
        &.active { @include transform(translateX(0)); }
    }
    .content-owner { width: 100%; }
}

@media (max-width: 767px) {
    .owner-header { margin-bottom: 24px; 
        .dropdown-toggle { padding: 6px 14px; }
        .username { display: none; }
    }
    .owner-header { margin-bottom: 32px; padding: 12px 16px; 
        .owner-logo { width: 140px; }
        .dropdown-toggle { padding: 0px; border-radius: 50%; }
        .userpic { margin-left: 0px; }
    }
}