@import "../../../../assets/scss/variables";

ol.breadcrumb { margin-bottom: 24px;
    .breadcrumb-item {
        +.breadcrumb-item::before { margin-right: 8px; content: ""; width: 24px; height: 24px; background: url(../../assets/images/icon/nav-arrow.svg) no-repeat center center / 100% auto;}
        a:hover,
        a:focus,
        &.active { color: $theme-color; }
    }
}

@media (max-width: 767px) {
    ol.breadcrumb { margin-bottom: 20px;
        .breadcrumb-item {
            +.breadcrumb-item { padding-left: 2px;
                &::before { margin-right: 2px; width: 20px; height: 20px; }
            }
        }
    }
}