@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "./../../assets/scss/variables";

.auth-header { top: 0; left: 0; width: 100%; font-size: 32px; line-height: 37px;}
.header-section { padding: 18px 0px; border-bottom: 1px solid $font-color; }
.header-logo { width: 180px; }
.auth-section { background: linear-gradient(90deg, rgba($theme-color,0.05) 0%, rgba($theme-color,0.05) 50%, rgba($theme-color,0) 50%);
    .artwork { width: 86%; }
}
.auth-content { padding: 140px 0 80px; min-height: 100vh; }

@media (max-width: 767px) {
    .auth-section { background: transparent; }
    .auth-content { padding: 36px 0; }
    .auth-artwork { padding: 120px 0 32px; background: rgba($theme-color,0.05); }
}
