
@import "./../../../assets/scss/variables";
@import "./../../../assets/scss/mixins";

.management-section {
   .title { margin-bottom: 36px; border-bottom: 1px solid rgba($font-color, 0.15);}
}
.pagination { margin-top: 20px;
   button { margin: 0px 4px; width: 36px; height: 36px; line-height: 36px; border-radius: 4px;
      &.pages { background: $theme-medium; 
         &:hover,
         &:focus,
         &.active { background: $theme-color; color: $light-color; }
      }
   }
}

