
@import "./../../../assets/scss/variables";
@import "./../../../assets/scss/mixins";

.management-section {
   .title { margin-bottom: 36px; border-bottom: 1px solid rgba($font-color, 0.15);}
   .search-control { width: 300px; padding: 9px 36px 9px 12px; background-image: url(../../../assets/images/icon/search-icon.svg); background-repeat: no-repeat; background-position: right 12px center; background-size: 24px auto; }
}
.pagination { margin-top: 20px;
   button { margin: 0px 4px; width: 36px; height: 36px; line-height: 36px; border-radius: 4px;
      &.pages { background: $theme-medium; 
         &:hover,
         &:focus,
         &.active { background: $theme-color; color: $light-color; }
      }
   }
}

@media (max-width: 767px) {
   .management-section {
      .search-control { width: 240px; }
   }
}
@media (max-width: 575px) {
   .management-section {
      .title { margin-bottom: 24px; }
      .search-group { width: 80%; }
      .search-control { width: 100%; margin-bottom: 8px; }
   }
}

